body {
	text-align: center;

	background-color: #000;
	color: #fff;
	height: 100%;
}


#shorturl {
	background: rgba( 0, 255, 0, 0.3);
	border: 1px solid #0c0;
	display: none;
	padding: 5px;
}

a {
	color: #248F40;		
}
	
a:hover {
	color: #38DF64;
}

form {
	margin-bottom: 10px;
}